<div *ngIf="user | async as currentUser" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="showWebcam" fxLayout="column" fxLayoutAlign="center center">
    <webcam [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
    <br />
    <button matButton id="snap"  (click)="triggerSnapshot();">Take A Snapshot</button>
  </div>
  
  <img [height]="200" [width]="200" *ngIf="!showWebcam" (click)="showWebcam=!showWebcam" matListAvatar
    [src]="(webcamImage) ? webcamImage : currentUser.photoURL" alt="...">

    <button matButton *ngIf="webcamImage" id="snap"  (click)="updateProfileImage(currentUser);">Update Profile Image</button>

  <h3 #displayName matLine (blur)="updateDisplayName(currentUser, displayName.innerText)" contenteditable> {{currentUser.displayName}} </h3>
  <p matLine>
    <span> {{currentUser.email}} </span>
  </p>
  <p matLine #sms (blur)="updateSMS(currentUser, sms.innerText)" contenteditable> {{(currentUser.phoneNumber)?currentUser.phoneNumber:'enter sms number'}} 
  </p>
  <p matLine>
    <span class="demo-2">{{currentUser.date | date:'fullDate'}}</span>
  </p>

  <span>
  <h2 id="showseats" (click)="currentTab='seats'">Seats</h2>
  <h2 id="showstars" (click)="currentTab='stars'">Stars</h2>
  <h2 id="showusers" (click)="currentTab='users'">Users</h2>
  </span>

  <ul id="seatlist" *ngIf="currentTab=='seats'">
    <li *ngFor="let seat of currentUser.seats"> {{ getKey(seat).date }}
        <h4 *ngFor="let game of getKey(seat)"> {{ game.seat }} | {{game.date}} | {{game.away.split('/')[1]}} </h4>
    </li>
  </ul>

  <ul id="starlist" *ngIf="currentTab=='stars'">
    <li *ngFor="let item of currentUser.star | keyvalue">
      <div *ngFor="let game of getGame(item)">
        <h4> {{game?.date}} | {{game.away?.split('/')[1]}} </h4>
      </div>
    </li>
  </ul>
</div>


<mat-list id="userlist" *ngIf="currentTab=='users'">
  <div *ngFor="let user of users | async">
    <mat-list-item *ngIf="!currentUser || user.uid !== currentUser.uid">
      <app-avatar matListAvatar class="item" (click)="switchUser(user.id)" [img]="user.photoURL" 
      [letter]="user.displayName.charAt(0)"></app-avatar>
      <h3 matLine> {{user.displayName}} </h3>
      <p matLine>
        <span> {{user.email}} </span>
      </p>
      <p matLine>
        <span class="demo-2">{{user.date | date:'fullDate'}}</span>
      </p>
    </mat-list-item>
  </div>
</mat-list>