#snap {
    background: #80000A;
    color: #A19060;
}
img {
  object-fit: cover;
  border-radius: 50%;
}
.item {
  width: 70px !important;
  height: 65px !important;
}


#showusers {
  background: black;
  float: right;
  margin: 0;
  padding: 10px;
}
#showseats {
  background: #80000A;
  float: right;
  margin: 0;
  padding: 10px;
}

#showstars {
  background: #A19060;
  float: left;
  margin: 0;
  padding: 10px;
}
#seatlist {
  background: #80000A;
  list-style: none;
  margin: 0;
  padding: 15px;
  width: 80%;
}
#starlist {
  list-style: none;
  background: #A19060;
  margin: 0;
  padding: 15px;
  width: 80%;
}
#userlist {
  list-style: none;
  background: black;
  margin: 0;
  margin-left: 7%;
  padding: 15px;
  width: 80%;
}

webcam { 
  border: groove 2px;
  border-color: black;
}