<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Seasons</ion-title>
    <ion-icon slot="end" name="add" (click)="presentAlertPrompt()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let season of seasonsO | async ">
      <ion-item>
        <ion-icon (click)="season.selected=!season.selected" slot="start" name="football"></ion-icon>
        <ion-label>{{ season.id }}</ion-label>
        <ion-icon (click)="play(season.id)" slot="end" name="play"></ion-icon>
        <ion-icon slot="end" name="remove" (click)="removeSeason(seasonx)"></ion-icon>
      </ion-item>
      <ion-list *ngIf="season.selected">
        <ion-item (click)="season.showUsers=!season.showUsers">
          <ion-label>Members</ion-label>
          <ion-icon slot="end" name="person-circle"></ion-icon>
          <!-- <ion-icon slot="end" name="remove" (click)="addMember(member)"></ion-icon> -->
        </ion-item>
        <div *ngIf="season.showUsers">
          <ion-item *ngFor="let user of users$ | async ">
            <!-- <ion-label>{{ user.displayName }}</ion-label> -->
            <ion-avatar slot="start">
              <!-- <img src="{{user.photoURL}}"> -->
            </ion-avatar>
            <ion-icon slot="end" name="{{userIsInSeason(user, season.id)}}" (click)="toggleSeason(user, season.id)">
            </ion-icon>
          </ion-item>
        </div>
        <ion-item (click)="season.showGames=!season.showGames">
          <ion-label>Games</ion-label>
          <ion-icon *ngIf="season.games" slot="end" name="calendar" (click)="showGames=!showGames"></ion-icon>
          <ion-icon *ngIf="!season.games" slot="end" name="add" (click)="addGames(season)"></ion-icon>
        </ion-item>
        <div *ngIf="showGames">
          <ion-item *ngFor="let game of season.games ">
            <ion-card>
              <ion-item lines="none">
                <ion-label><h1>{{ game.date }}</h1></ion-label>
              </ion-item>
              <ion-item>
                <ion-label><h2>{{ game.home }} vs {{ game.away }}</h2></ion-label>
                <!-- <ion-icon slot="end" name="remove" (click)="removeGame(game)"></ion-icon> -->
              </ion-item>
              <!-- <ion-label>{{ game.home }}</ion-label>
              <ion-label>{{ game.away }}</ion-label> -->
            </ion-card>
            <ion-card>
              <ion-item (click)="selectSeat(game, 'A')">
                <ion-label>{{ (game.seatA) ? game.seatA : ' A' }}</ion-label>
                <ion-icon slot='start' name="ticket-outline"></ion-icon>
              </ion-item>
              <ion-item (click)="selectSeat(game, 'B')">
              <ion-label>{{ (game.seatB) ? game.seatB : 'B'}}</ion-label>
              <ion-icon slot='start' name="ticket-outline"></ion-icon>
            </ion-item>
            <ion-item (click)="selectSeat(game, 'C')">
              <ion-label>{{ (game.seatB) ? game.seatC : 'C'}}</ion-label>
              <ion-icon slot='start' name="ticket-outline"></ion-icon>
            </ion-item>
            </ion-card>
            <!-- <ion-avatar slot="start">
              <img src="{{user.photoURL}}">
            </ion-avatar> -->
            <!-- <ion-icon slot="end" name="{{userIsInSeason(user, season.id)}}" (click)="toggleSeason(user, season.id)">
            </ion-icon> -->
          </ion-item>
        </div>
      </ion-list>
    </div>

  </ion-list>
</ion-content>