<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <pre>{{selectedData}}</pre>
  </div> -->
  <ion-list>
    <div *ngFor="let season of seasonsO | async ">

      <ion-item>
        <ion-label>{{ season.id }}</ion-label>
        <ion-icon (click)="season.selected=!season.selected" slot="start" name="football-outline"></ion-icon>
        <ion-icon slot="end" name="add" (click)="addSeason(season.id)"></ion-icon>
      </ion-item>
      <ion-list *ngIf="season.selected">
        <ion-item *ngFor="let member of season.members">
          <ion-label>{{ getMember(member).displayName }}</ion-label>
          <ion-icon slot="start" name="person-circle"></ion-icon>
          <ion-icon slot="end" name="remove" (click)="addMember(member)"></ion-icon>
        </ion-item>
        <ion-item *ngFor="let user of usersArray ">
          <ion-label>{{ getNonMember(member).displayName }}</ion-label>
          <ion-icon slot="start" name="person-circle"></ion-icon>
          <ion-icon slot="end" name="add" (click)="addMember(member)"></ion-icon>
        </ion-item>
      </ion-list>
    </div>

  </ion-list>
</ion-content>