
<main *ngIf="user | async as currentUser">
  <section *ngIf="golfcourseObs | async as currentRound" class=" golf_round flexcontainer">
    <article id="hole">
      <div class="container" id="snap-scroll-container" (scroll)="onScroll($event)">
        <div [attr.value]="h.hole" class="child" *ngFor="let h of currentRound.holes">
          <div id="holeNumber" (click)="viewHole(h)">{{h.hole}}</div>
          <div class="flexcontainer">
            <div class="par" (click)="changeScore(h, -1, currentUser)">{{currentRound.holes[currentHole-1]?.par}}</div>
            <div class="score" (click)="changeScore(h, 1, currentUser)">{{getScore( currentUser, h.hole )}}</div>
          </div>
        </div>
      </div>
    </article>
    <article *ngIf="filteredUsersObs | async as filteredUsers">

      <div *ngIf="!showHole" class="container" id="snap-scroll-container">
        <div class="child" >
          <mat-list id="userlist" >
              <div class="listitem flexcontainer" *ngFor="let user of filteredUsers">
                <img (click)="switchUser(user.id, currentUser.uid)" class="photo" [src]="user.photoURL" >
                <div class="userscorehole">{{getScore(user, currentHole)}}</div>
                <div class="userscore">{{getScore(user)}}</div>
              </div>
          </mat-list> 
        </div>
        </div>
      <div *ngIf="showHole" class="container" >
        <app-webcam *ngIf="!currentHoleMap"  (urlChange)="changeURL($event, currentRound)" 
        urlImage="{{ (currentRound.holes[this.currentHole].image) ? currentRound.holes[this.currentHole].image : 'http://via.placeholder.com/640x360'}}"></app-webcam>
        <iframe *ngIf="currentHoleMap" 
        [src]="getUrl(currentRound.holes[this.currentHole].map)"></iframe>
      </div>

    </article>
  </section>

  <section *ngIf="!golfround" class=" golf_round flexcontainer">
    <article class="hole">
      <div class="container" id="snap-scroll-container">
        <div class="child" *ngFor="let golfcourse of golfcourses | async">
          <div class="golf_course_id">{{golfcourse.id}}</div>
          <div class="golf_round_members_label">
            <input #roundName class="golf_round_members_label" type="text" maxlength="12">
          </div>
          <div class="golf_round_members_label">Par: {{getPar(golfcourse)}}</div>
          <div id="go" (click)="newRound(golfcourse, roundName.value)">New</div>
        </div>
      </div>
    </article>
    <article *ngIf="currentUser" class="hole">
      <div class="container" id="snap-scroll-container">
        <div class="child" *ngFor="let g of rounds | async">
          <div class="golf_course_id">{{g.id}}</div>
          <div class="golf_round_members_label">Date: {{g.date}}</div>
          <div class="golf_round_members_label">Course: {{g.name}}</div>
          <div id="go" style="top: 94px;" [style.background]="(g.members?.includes(currentUser.uid))?'dimgrey':'#80000A'"
               (click)="join(g, currentUser)">Join</div>
          <a [routerLink]="['/hole', g.id]">
            <div id="go">View</div>
          </a>
        </div>
      </div>
    </article>
  </section>
</main>
