<main id="games" *ngIf="season else newSeason">
  <h1 id="newSeason" class="stripe-5" (click)="seasonDetails = !seasonDetails">
    {{currentSeason}}
  </h1>

  <section *ngIf="seasonDetails">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h4>Total Games:{{season.gamesCount}}</h4>
      <h4>Number of Seats: {{seatCount}}</h4>
      <h4>Number of Users: {{season.usersCount }}</h4>
      <h4>Number of Rounds: {{ (season.gamesCount * seatCount) / season.usersCount }}</h4>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h4 [style.background]="'#A19060'">Seats A</h4>
      <h4 [style.background]="'#80000A'">Seats B</h4>
      <h4 [style.background]="'black'">Seats C</h4>
    </div>
  </section>

  <section class="scroll" *ngIf="users">
    <app-avatar (click)="changeUser(user)" class="item" [img]="user?.photoURL"
      [letter]="user.displayName.charAt(0)"
      [selected]="user?.id === season.members[season.nextPick]" [selected2]="user?.id===loggedInUser?.id"
      *ngFor="let user of order(users)"></app-avatar>
  </section>

  <section cdkscrollable *ngIf="games" style="transform: translateY(-30px);">
    <mat-list>
      <mat-list-item style="height: auto;margin-top: 30px;" *ngFor="let game of games | async | sort; let i=index">
        <h4 style="position: absolute;top:10px">
           <span 
                (click)="star(game.id)"
           >{{ (loggedInUser?.star[game.id]) ? '&#11088;':'&#9733;'}} </span>
          <span (click)="gameVisibility[i]=!gameVisibility[i]"
        style="color:#A19060; ">{{game.date}} 
        </span>
      </h4>
        <mat-list-item 
            *ngIf="!gameVisibility[i]"
              style="margin-top: 80px">
          <div matListAvatar>
            <div class="pieContainer">
              <div class="pieBackground"></div>
              <div id="pieSlice1" class="hold">
                <div (click)="pick(game, 'A', season)"
                  [style.background-color]="(game.seats.A.length>1)?'grey':'#A19060'" class="pie"></div>
              </div>
              <div id="pieSlice3" class="hold">
                <div (click)="pick(game, 'B', season)"
                  [style.background-color]="(game.seats.B.length>1)?'grey':'#80000A'" class="pie"></div>
              </div>
              <div id="pieSlice6" class="hold">
                <div (click)="pick(game, 'C', season)" [style.background-color]="(game.seats.C.length>1)?'grey':'black'"
                  class="pie"></div>
              </div>
            </div>
          </div>
          <mat-list>
            <mat-list-item *ngIf="game.home | fire | async as home">
              <img matListAvatar [src]="home.image">
              <h4 class="team-name"> {{ home.name }} </h4>
            </mat-list-item>
            <mat-list-item *ngIf="game.away as away">
              <img matListAvatar [src]="away.images[0]">
              <h4 class="team-name"> {{ away.name }} </h4>
            </mat-list-item>
          </mat-list>
        </mat-list-item>
      </mat-list-item>
    </mat-list>
  </section>


</main>
<ng-template #newSeason >
  <h1 id="newSeason">
    {{currentSeason}} 
  </h1>
  <section>
    <button mat-button color="primary" style="background: #A19060;" (click)="users=shuffle(users)">Shuffle</button>

    <div class="scroll">
      <app-avatar class="item" (click)="removeUser(user)" [img]="user.photoURL" [selected]="false"
        [letter]="user.displayName.charAt(0)"  
        *ngFor="let user of users">
      </app-avatar>
    </div>

  </section>
  
  <div *ngIf="loggedInUser?.displayName ==='Mauricio Lopez'">
  <h1 id="newSeason" style="color: #80000A;background: #A19060;" (click)="setNewSeason(users)">NEW SEASON</h1>

  <section class="scroll">
    <app-avatar class="item" (click)="addUser(user)" [img]="user.photoURL" [selected]="false"
      [letter]="user.displayName.charAt(0)"
      *ngFor="let user of 'users' | fire | async "></app-avatar>
  </section>
  </div>

</ng-template>
