<main id="games" *ngIf="seasonObs | async as season else newSeason">
  {{currentSeason}} 
  <h4>| Rounds: {{ (season.gamesCount * season.seatsCount) / season.usersCount }}</h4>
  <h4 *ngIf="user"> | Logged In User:  {{ user.displayName }}</h4>
  <button *ngIf="season.currentRound==0" (click)="startRound(season)">start</button>
  <hr>

  <section *ngIf="usersObs | async as users">
    <button (click)="susers=!susers">users</button>
    Next Pick: {{getNextPick(season, users).displayName}}
    <ul *ngIf="susers">
      <li *ngFor="let user of users ">
          Pick: <button (click)="changeUser(user)">{{ user.displayName}}</button>
        <pre>
          {{ user | json}}
        </pre>
      </li>
    </ul>
  </section>

  <button (click)="showseason=!showseason">seasons</button>
  <pre *ngIf="showseason">
        {{season | json}}
  </pre>

  <section *ngIf="games">
    <button (click)="sgames=!sgames">games</button>
    <ul *ngIf="!sgames">
      <li *ngFor="let game of games | async">
          Pick: <button *ngFor="let seat of getLength(game.seats)" (click)="pick(game, seat, season)">{{game.seats[seat]}}</button>
        <pre>
            {{game | json}}
        </pre>
      </li>
    </ul>
  </section>


</main>
<ng-template #newSeason>
  <section *ngIf="'users' | fire | async as users">
    <button (click)="setNewSeason(users)">NEW SEASON</button>
  </section>
</ng-template>
<!--div fxLayout="row">
    <div fxLayout="column">
      <div *ngIf="season.draft[season.currentRound]; else notShow">

        <button matButton (click)="startRound(season);">Start Round {{season.currentRound}}</button>

      </div>

      <ng-template #notShow>
        <h2>{{season.currentRound}} / {{season.rounds}}</h2>
        <h3>{{season.currentMember}} / {{season.members}}</h3>
      </ng-template>

    </div>
  </div>
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="50" class="sec1" fxFlex.xs="55">
      <mat-list *ngIf="season.draft[season.currentRound]; else notShowMembers">
        <div *ngFor="let user of season.draft[season.currentRound].members">
          <mat-list-item>
            <img matListAvatar [src]="user.photoURL" alt="...">
            <h3 matLine>### {{user.displayName}} </h3>
            <p matLine>
              <span> {{user.email}} </span>
            </p>
            <p matLine>
              <span class="demo-2">{{user.date | date:'fullDate'}}</span>
            </p>
          </mat-list-item>
        </div>
      </mat-list>

      <ng-template #notShowMembers>
        <mat-list *ngFor="let member of season.members">
          <div *ngIf="member | async as user">
            <mat-list-item>
              <img matListAvatar [src]="user.photoURL" alt="...">
              <h3 matLine> {{user.displayName}} </h3>
              <p matLine>
                <span> {{user.email}} </span>
              </p>
              <p matLine>
                <span class="demo-2">{{user.date | date:'fullDate'}}</span>
              </p>
            </mat-list-item>
          </div>
        </mat-list>
      </ng-template>

    </div>
    <div fxFlex="50" class="sec2">
      <div>
        <p>{{ games | json}}</p>
      </div>
      <mat-list *ngIf="season.games | async as games">
        <div *ngFor="let game of games ">
          <p style="margin-bottom: 0">{{game.id}}</p>
          <mat-list-item *ngIf="game.home | async as home">
            <img matListAvatar [src]="home.image" alt="...">
            <h1 class="team" matLine> {{home.name}} </h1>
          </mat-list-item>
          <mat-list-item *ngIf="game.away | async as away">
            <img matListAvatar [src]="away.image">
            <h1 class="team" matLine> {{away.name}} </h1>
          </mat-list-item>
        </div>
      </mat-list>

    </div>
  </div>

</section> -->