<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header >
          <!-- <ion-title>WEO</ion-title> -->
          <h1>The Cabal</h1>
        </ion-header>
        <ion-list id="inbox-list" style="    padding-top: 0;">
<div  *ngIf="userO | async as user; else showLogin">
          <ion-list-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="{{user.photoURL}}">
              </ion-avatar>
              <ion-label>{{user.displayName}}</ion-label>
            </ion-item>
          </ion-list-header>

            <ion-item>
              <ion-label style="margin-top: 0;">{{user.email}}</ion-label>
            </ion-item> 
</div>
          <ng-template #showLogin>
            <ion-list-header>
              <ion-item (click)="loginWithGoogle()" lines="none">
                <ion-icon name="log-in"></ion-icon>
                <ion-label>Google Login</ion-label>
              </ion-item>
            </ion-list-header>
          </ng-template>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label *ngIf="loggedIn">{{ p.title }}</ion-label>
              <ion-label *ngIf="!loggedIn" (click)="loginWithGoogle()">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
          <ion-item (click)="logout()" lines="none" *ngIf="loggedIn">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label> Logout </ion-label>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>