.example-container {
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
    }
    textarea {
      width: 100%
    }
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .source {
    height: 80vh !important;
  }
