<mat-list>

    <button (click)="getGamez()">GET GAMEZ</button>

    <mat-list-item *ngFor="let g of gamez">
      <button (click)="getImg(g)">GET IMG</button>
    </mat-list-item>
</mat-list>
<mat-list>
  <div (click)="game.expand=!game.expand" *ngFor="let game of items | async">
    <h1>{{game.id}}</h1>
    <section *ngIf="game.expand">
    <mat-list-item *ngIf="game.home | async as home">
      <img matListAvatar [src]="home.image" alt="...">
      <h1 class="team" matLine> {{home.name}} </h1>
    </mat-list-item>
    <mat-list-item *ngIf="game.away | async as away">
      <img matListAvatar [src]="away.image">
      <h1 class="team" matLine> {{away.name}} </h1>
    </mat-list-item>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div *ngFor="let key of Obj.keys(game.seats)">
         <img  *ngIf="game.seats[key].owner | async as owner; else unassigned "
               class="memberURL" [src]="owner.photoURL" alt="...">
        <ng-template #unassigned>
            <div *ngIf="game.seats[key].seats | async as s">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <button id="selectButton" mat-button
                  *ngIf="true" (click)="select(key, game)"
                   >{{s.Seat}}</button>
              </div>
            </div>
        </ng-template>
      </div>
    </div>
  </section>
  </div>
</mat-list>
